@font-face {
    font-family: "Estedad";
    src: url(../fonts/Estedad-FD-Regular.woff2) format(woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Estedad";
    src: url(../fonts/Estedad-FD-Bold.woff2) format(woff2);
    font-weight: bold;
}
